################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/E-Commerce/FileContentIndex
/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/bin/Debug/net8.0/SecureIdentity.dll
/obj/*
